{% if stick_upsell_products %}
<section class="pdp-stick-upsell pdp-stick-upsell--boxed mt-auto" aria-label="Рекомендуемые стики">
    <h4 class="pdp-stick-upsell__title">Не забудьте взять стики</h4>
    <div class="row g-2 pdp-stick-mini-grid">
        {% for sp in stick_upsell_products %}
        <div class="col-6">
            <div class="pdp-stick-mini position-relative">
                {% with product=sp %}
                {% include 'includes/discount_badge.html' %}
                <a href="{{ sp|product_url }}" class="pdp-stick-mini__link text-decoration-none text-dark d-block">
                    <div class="pdp-stick-mini__img">
                        {% include 'includes/product_card_image.html' %}
                    </div>
                    <div class="pdp-stick-mini__name">{{ sp.name|truncate(32) }}</div>
                    <div class="pdp-stick-mini__price">{{ sp.price|format_price }} ₽</div>
                </a>
                {% endwith %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}
